
 
*   **Task** : **1**
*   Registration/Referral Id : SIRSS2190
*   Name : Akshay Sanjay Chaudhari

 **Q.1**

In [ ]:
for i in range(5):
  for j  in range(5-i):
    print(5,end=' ')
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

**Q.2**

In [ ]:
for i in range(6):
  for j in range(6-i):
    if i<5:
      print(j,end=' ')
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

**Q.3**

In [ ]:
i=1
while i<=5:
  j=1
  while j<=i:
    print(i*2-1,end = ' ')
    j=j+1
  i=i+1
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

**Q.4**

In [ ]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

**Q.5**

In [ ]:
a=1
b=2
c=b
for i in range(2,6):
  for j in range(a,b):
    c-=1
    print(c,end=' ')
  print()
  a=b
  b+=i
  c=b

1
3 2
6 5 4
10 9 8 7

**Q.6**

In [ ]:
def fac(n):
  f=1
  while(n>1):
    f=f*(n)
    n=n-1
  return f

def c(n,r):
  return int(fac(n)/(fac(r)*fac(n-r)))
  

for i in range(0,7):
  x=0
  for j in range(i+1):
    print(c(i,x),end=" ")
    x=x+1
  print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

**Q.7**

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if j<=i:
      print(i,end=' ')
    else:
      print(j,end=' ')
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

**Q.8**

In [ ]:
for i in range(1,9):
  for j in range(1,i+1):
    print(i*j,end=' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

**Q.9**

In [ ]:
for i in range(0,6):
  for j in range(i):
    print(" ",end="")
  for k in range(6-i):
   print("* ",end="")
  print("\n")

* * * * * *

 * * * * *

  * * * *

   * * *

    * *

     *

**Q.10**

In [ ]:
for i in range(0,8):
  for j in range(8-i):
    print(" ",end="")
  for k in range(i):
   print("* ",end="")
  print("\n")

       *

      * *

     * * *

    * * * *

   * * * * *

  * * * * * *

 * * * * * * *

**Q.11**

In [ ]:
for i in range(0,6):
  for j in range(0,i+1):
    print("*",end=' ')
  print()

print()

for i in range(7,0,-1):
  for j in range(0,i-1):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

**Q.12**

In [ ]:
for i in range(0,5):
  for j in range(0,i+1):
    print("*",end=' ')
  print()

for i in range(5,0,-1):
  for j in range(0,i-1):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**Q.13**

In [ ]:
for i in range(0,6):
  for j in range(6-i):
    print("  ",end="")
  for k in range(i):
   print("* ",end="")
  print("\n")
for i in range(1,5):
  for j in range(i+1):
    print("  ",end="")
  for k in range(5-i):
   print("* ",end="")
  print("\n")

          *

        * *

      * * *

    * * * *

  * * * * *

    * * * *

      * * *

        * *

          *

**Q.14**

In [ ]:
for i in range(1,6):
  for j in range(i):
    print(" ",end="")
  for k in range(6-i):
   print("* ",end="")
  print("\n")
for i in range(0,6):
  for j in range(6-i):
    print(" ",end="")
  for k in range(i):
   print("* ",end="")
  print("\n")

 * * * * *

  * * * *

   * * *

    * *

     *



     *

    * *

   * * *

  * * * *

 * * * * *

**Q.15**

In [ ]:
for i in range(0,8):
  for j in range(8-i):
    print("* ",end="")
  for k in range(i*2):
    print("_ ",end="")
  for l in range(8-i):
    print("* ",end="")
  print("\n")

* * * * * * * * * * * * * * * *

* * * * * * * _ _ * * * * * * *

* * * * * * _ _ _ _ * * * * * *

* * * * * _ _ _ _ _ _ * * * * *

* * * * _ _ _ _ _ _ _ _ * * * *

* * * _ _ _ _ _ _ _ _ _ _ * * *

* * _ _ _ _ _ _ _ _ _ _ _ _ * *

* _ _ _ _ _ _ _ _ _ _ _ _ _ _ *